body{
  color:white;
padding: 0;
margin: 0;
border: 0;
font-family: sans-serif;
background-image: url("bilder/frontpage.png");
background-size:cover;
}
.tophead1{
width: 100%;
height: 40px;
background-color: #585757;
margin: 0;
}

#navbar{
  background-color: #ff4622;
}

.lolbox img {
  width:100%;
  heigh:auto;
}

.navtab{

text-align: right;
margin: auto;
  width: 50%;
  padding: 10px;
}
.navtab > li{
display: inline;
margin-right: 20px;
}
.navtab > li > a{
display: inline-block;
padding-top: 20px;
padding-bottom: 20px;
padding-left: 5px;
padding-right: 5px;
font-size: 18px;
text-decoration: none;
color: #fff;
font-weight: bold;
}
.navtab > li > img{
width: 60px;
border:  0;
padding: 0;
float: left;;
margin-top: 10px;
}
#CVbox {
width: 100%;
height:800px;
}

@media only screen and (max-width: 500px) {
  #CVbox {
  height:100px;
  }
}

.navtab li a:hover{
background-color: #fff;
color: #585757;
font-weight: bolder;
}
.bigbanner1{
  max-width: 1040px; /* största tillåtna bredd på lådan */
  min-width: 260px;
  padding: 16px; /* Indrag, ge luft runt innehållet i lådan. */
  border-radius:20px; /* Effekt för att ge avrundadwe hörn. */
  background-color: rgba(0,0,000,0.5); /* En färg med genomskinlighet (sista värdet) */
  display: block;
  margin-left: auto; /* Centrering av lådan.  */
  margin-right: auto;
width: 100%;
height: 250px;

}
.bigbanner1 h3{
margin-top: 0;
text-align: center;
font-size: 70px;
font-weight: lighter;
color: #fff;
padding-top: 30%;
}
.containergrid{
margin-top: 20px;
text-align: center;
}
.grid1{
width: 300px;
display: inline-block;
margin-left: 15px;
margin-left: 15px;
text-align: justify;

}
